.field-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field-name {
  font-family: "geist", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.field-name::after {
  content: "";
  height: 3px;
  background-color: rgba(204, 204, 204, 0.5);
  flex-grow: 1;
}

.editor-wrapper {
  width: 100%;
  padding: 2px 4px 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #ccc;
}